<p><b>Vysvetlivky:</b>

<p>
Každý riadok študijného programu obsahuje údaje:
ECTS kód predmetu, poznámky, názov predmetu, mená vyučujúcich,
prerekvizity, t.j. predmety, ktoré podmieňujú absolvovanie tohto predmetu,
odporučený rok štúdia / semester, v ktorom je predmet nasadzovaný v rozvrhu,
forma (K-kurz, P-prednáška, C-cvičenie, S-seminár, L-laboratórne cvičenie, X-prax, O-odborné sústredenie, D-diplomová práca, I-iná forma výučby), rozsah výučby a počet kreditov.

<p>
! predmet sa v tomto akademickom roku nevyučuje (je suspendovaný),<br>
+ predmet sa nerealizuje, možno od nasledujúceho akademického roku,<br>
- predmet sa realizuje ostatný krát
